<div class="container">
  <div class="row in-the-middle">
  <div class="col-md-5 leftComp">
      <div class="title-text">
          <p id="home__title">Sud</p>
      </div>
  </div>
  <div class="col-md-5 leftComp">
      <img style="height: 300px;width: 300px;" src="/assets/court.png" alt="Akademac"  id="home__image">
  </div>

  <div class="description"  id="home__description">
    <p>Aplikacija za podrsku u radu gradskih sudova.</p>
    <p>U okviru ovog projekta je prikazana upotreba Angular i Spring radnih okvira, kao i Postgres baze podataka.</p>
  </div>
</div>
